@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
    ViewData["Message"] = "Feel free to contact me for more information.";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h2>Submit Email Request for Information</h2>

<form class="form form-horizontal" method="post">
    <div asp-validation-summary="All"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Contact.Name" class="col-md-3 right">Name:</label>
                <div class="col-md-9">
                    <input asp-for="Contact.Name" class="form-control" />
                    <span asp-validation-for="Contact.Name" style="color:red"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Contact.Email" class="col-md-3 right">Email:</label>
                <div class="col-md-9">
                    <input asp-for="Contact.Email" class="form-control" />
                    <span asp-validation-for="Contact.Email" style="color:red"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Contact.Message" class="col-md-3 right">Your Message:</label>
                <div class="col-md-9">
                    <textarea asp-for="Contact.Message" rows="6" class="form-control"></textarea>
                    <span asp-validation-for="Contact.Message" style="color:red"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit">Send</button>
        </div>
    </div>
</form>

<br />

<address>
    Grabenweg 4<br />
    3683 Yspertal, Austria<br />
    <abbr title="Phone">P:</abbr>
    +43 699 1968 1006
</address>

<address>
    <strong>Email:</strong> <a href="mailto:peter.trimmel@live.com">peter.trimmel@live.com</a>
</address>
